*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body{
    overflow: hidden;
}

h1{
    /*flex: 100%;*/
    margin-top: 2%;
    color: red;
    text-align: center;
}
#version{
    width: 8%;
    margin-left: 46%;
    margin-right: 46%
}

h3 {
    text-decoration: underline;
    text-align: center;
}


#mainContent{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

#mainContent > div {
    /* border: 1px solid grey; */
    padding: 1rem;
}

#mainContent li {
    padding: 5%;
}

#formAdd{
    flex: 18%
}

#todoListDisplayContain{
    flex: 33%;
}

#todoListDisplay{
    height: 70vh;
    overflow-y: scroll;
}

#todoListDisplay::-webkit-scrollbar { 
    display: none; 
}


#todoListDisplayDoneContain{
    flex: 34%;
}

#todoListDisplayDone{
    height: 70vh;
    overflow-y: scroll;
}

#todoListDisplayDone::-webkit-scrollbar { 
    display: none; 
}



#infosToDisplay{
    flex:15%;
}

li > button {
    text-align: left;
    float: right;
}

#todoListDisplayDone li .btn-success {
    display: none; 
}

#popupDelete{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.4);
    z-index: 10;
}

#deleteControl{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
}

/*
.popup{
    text-decoration: none;
    
    color: inherit;
    text-shadow: 0 -1px 0 black;
}

.popup:hover, .popup:focus{
    background: rgba(0,0,0,.3);
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
    transition-delay: 1s; 
}

.popup span{
    position: absolute;
    margin-top: 25 px;
    margin-left: 30 px;
    color: #09c;
    background:rgba(0,0,0,.9);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    transform: scale(0) rotate(-15deg);
    transition: all .5s;
    opacity: 0;
}

.popup:hover span, popup:focus span{
    transform: scale(1) rotate(0);
    opacity:1;
    transition-delay: 1s;
}
*/